*{
    box-sizing: border-box;
}

body
{
    font-family: 'Times New Roman', Times, serif;
}
/* HOME-PAGE NAVBAR */
#logo
{
    width: 100px;
    height: 100px;
}

#nav-link
{
    /* padding-top: 2%;
    padding-right: 0%;
    padding-bottom: 2%;
    padding-left: 40%; */
    /* max-width: 100%; */
    /* width: 1100px; */
}

#nav-home
{
    background: transparent;
    position: absolute;
    padding-right: 0%;
}
/* HOME-PAGE NAVBAR */

/* SERVISEC */
.navbar
{
    background-color: #042367;
}
#nav-services
{
    padding-top: 12%;
    padding-right: 0%;
    padding-bottom: 2%;
}

li
 {
    font-size: medium;
    font-weight: bold;
    display: inline;
    margin-right: 50px;
}

#index-row1
{
    background-color: firebrick;
}

#banner
{
    max-width: 100%;
     height: 400px; 
     width: fit-content;

}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    /* font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif; */
  }

  #sub_header
  {
      padding-top: 0%;
      font-size: 30px;
      font-style: oblique;
      font-style: italic;

  }
  #main_header
  {
      font-size: 55px;
      /* letter-spacing: 15px; */
      font-style: normal;
      font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
      font-weight: bold;
  }

  #learn_more
  {
      background-color:#36B3A8;
      box-shadow: 0 .1875rem .1875rem 0 rgba(0,0,0,.1)!important;
    padding: 1.50rem 2rem;
    font-family: 'Varela Round';
    font-size: 125%;
    font-weight: bold;
    border-radius: 30%;
    width: 30%;
    text-transform: uppercase;
    letter-spacing: .15rem;
    border: 0;
    display: inline-block;
  }

  .sec2_para
  {
      padding-left: 50%;
      padding-right: 50%;
      padding-top: 50%;
      color:#C1C1C1;
  }

  #sec2_header
  {
      padding: top 1%;
  }

 #para1
 {
     font-size: 10px;
 }

#services-header
{
    font-size: 32px;
    letter-spacing: 3px;
}

#services-row
{
    padding-top: 9%;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 25%;
    color:#9ea3a1;
}
#services-row2
{
    font-size: 18px;
    padding-left: 18%;
    padding-bottom: 0%;
}
#services-img1
{
    max-width: 100%;
    padding-left: 20%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 1%;
    
}
  
#home-footer
{
    background-color: #1F1F1F;
    color: #737373;
    font-size: 18px;
    line-height: 1.6em;
    /* font-weight: bold; */
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
}
#footer-header
{
    padding-top: 5%;
}
#div-footer
{
    /* margin-left: 10%; */
    padding-top: 3%;
    padding-left: 10%;
    padding-bottom: 5%;
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
}

footer
{
    background-color: grey;
    max-width: 100%;
    height: 100px;
    padding-top: 12%;
    padding-bottom: 0%;
}

#form
{
    padding-left: 27%;
    padding-right: 25%;
   
}
#contact-header 
{
    font-family: 'Times New Roman', Times, serif;
    padding-top: 10%;
    padding-bottom: 10%;
    font-size: 29px;
    letter-spacing: 1px;
}

#contact-sub-header
{
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    padding-top: 5%;
    padding-bottom: 5%;
    font-weight: 400;
    letter-spacing: 2px;
    word-spacing: 2px;
}

#dark
{
    max-width: 100%;
    box-sizing: border-box;
    width: 150px;
    height: 50px;
    font-size: 20px;
    background-color: black;
    color: blanchedalmond;
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;

}